.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c;
}
h1{
	text-align: center;
	font-style: italic;
	font-size: 550%;
    font-family: serif;
    color: #08435C;
}

p{
	text-align: center;
	font-style: italic;
}

img {
    display: block;
    margin: auto;
    width: 15%;
}
p{
    font-family: times;
    font-size: 15px;
    padding: 20px;
    border: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}
.about {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 75px;
}
.fa {
    padding: 20px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-instagram {
    background: #55ACEE;
    color: white;
}
